.footer{
  z-index: 2;
    color: #c85876;
    font-size: .6rem;
    width: 80%;
    position: absolute;
    bottom: 10px;
 
    text-align: center;
}
footer>p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.p{
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}